# Allow init to mount vendor configs
allow init vendor_configs_file:dir mounton;

# Allow init to mount vendor overlays
allow init vendor_overlay_file:dir mounton;

allow init debugfs_tracing_debug:dir mounton;
allow init hwservicemanager:binder { call transfer };
allow init same_process_hal_file:file execute;
allow init vendor_file:file { execute };
