# Copyright (c) 2019 Sony Mobile Communications Inc.
#
# init.sony-platform.rc
#

on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules/ \
        et580-int \
        slg51000-regulator \
        sony_camera \
        tcs3490 \
        flash_led \
        camera_sync


    # Enable power key force crash on userdebug variant
    

    # load kernel module to read ufs write/erase count via debugfs
    

    

    # Change reset behavior to warm reset
    

    write /sys/module/msm_rtb/parameters/enable 0

    # change the compression algorithm for zRAM
    write /sys/block/zram0/comp_algorithm lz4

on init
    # SONY: Start the TrimArea Daemon. It must be started before fota-ua
    wait /dev/block/platform/soc/1d84000.ufshc
    symlink /dev/block/platform/soc/1d84000.ufshc /dev/block/bootdevice
    wait /dev/block/sda1
    chown oem_2997 oem_2997 /dev/block/sda1
    chmod 0770 /dev/block/sda1
    class_start trimarea
    exec u:r:tad:s0 system -- /vendor/bin/wait4tad

    # Enable panic on out of memory
    

    write /proc/sys/vm/swappiness 100

    # SONY: Enable wakeup irq module
    write /sys/devices/platform/wakeup_debug.0/enable 1

    # Add a cpuset for the camera daemon
    # We want all cores for camera
    mkdir /dev/cpuset/camera-daemon
    write /dev/cpuset/camera-daemon/cpus 0-3
    write /dev/cpuset/camera-daemon/mems 0
    chown cameraserver cameraserver /dev/cpuset/camera-daemon
    chown cameraserver cameraserver /dev/cpuset/camera-daemon/tasks
    chmod 0660 /dev/cpuset/camera-daemon/tasks

on charger
    # power_supply sysfs
    chmod 0664 /sys/class/power_supply/battery/charging_enabled
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_socmax
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_socmin
    chmod 0664 /sys/class/power_supply/battery/lrc_enable
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_enable
    chmod 0664 /sys/class/power_supply/battery/system_temp_level
    chmod 0664 /sys/class/power_supply/battery/uevent
    chmod 0664 /sys/class/power_supply/battery/bootup_shutdown_phase
    chmod 0664 /sys/class/power_supply/battery/enable_shutdown_at_low_battery
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_icl
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_fcc
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_indication_control
    chmod 0664 /sys/class/power_supply/bms/charge_full
    chmod 0664 /sys/class/power_supply/bms/batt_aging_level
    chmod 0664 /sys/class/power_supply/dc/chg_pwr_dc_icl
    chmod 0664 /sys/class/power_supply/dc/uevent
    chmod 0664 /sys/class/power_supply/usb/uevent
    chmod 0664 /sys/class/power_supply/wireless/uevent
    chmod 0664 /sys/class/power_supply/wireless/wlc_vout_set

    # usbpd sysfs
    chmod 0664 /sys/class/usbpd/usbpd0/select_pdo
    chmod 0664 /sys/class/usbpd/usbpd0/uevent

    # backlight
    chown system system /sys/class/backlight/panel0-backlight/brightness

    # led RGB
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness

    # The charge_service/chargemon use wakelock before on boot, so add permission here.
    chown radio wakelock /sys/power/wake_lock
    chown radio wakelock /sys/power/wake_unlock
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock

    # charge_service
    
    
    start charge_service

    # charge power service
    start chg-pwr-service

    # Set USB mode to MSC for SDP charging
    write /config/usb_gadget/g1/os_desc/use 0
    write /config/usb_gadget/g1/configs/b.1/strings/0x409/configuration mass_storage
    write /config/usb_gadget/g1/idProduct 0xeeee
    write /config/usb_gadget/g1/idVendor 0x0fce
    symlink /config/usb_gadget/g1/functions/mass_storage.0 /config/usb_gadget/g1/configs/b.1/f1
    write /config/usb_gadget/g1/UDC ${sys.usb.controller}

    # chargemon
    start chargemon

# SONY: TrimArea Daemon
# Last 2 args: start block(blk size 128k), number of blocks(partitionsize(kb)/128(kb))
service tad /vendor/bin/tad /dev/block/bootdevice/by-name/TA 0,16
    user oem_2997
    group oem_2997 root
    socket tad stream 0660 system oem_2993
    class trimarea
    seclabel u:r:tad:s0

on post-fs
    # Update dm-verity state and set partition.*.verified properties
    verity_update_state

    # Display
    chown system system /sys/devices/dsi_panel_driver/hbm_mode
    chown system system /sys/devices/dsi_panel_driver/flm2_mode

    # Fingerprint EGIS irq
    chown system system /dev/esfp0
    chmod 0600 /dev/esfp0

    # Fingerprint data folder
    mkdir /data/vendor/egis 0770 system system

    # led RGB
    chown system system /sys/class/leds/rgb/sync_state
    chown system system /sys/class/leds/rgb/start_blink
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/lut_pwm
    chown system system /sys/class/leds/red/step_duration
    chown system system /sys/class/leds/red/pause_lo_multi
    chown system system /sys/class/leds/red/pause_hi_multi
    chown system system /sys/class/leds/red/max_single_brightness
    chown system system /sys/class/leds/red/max_mix_brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/lut_pwm
    chown system system /sys/class/leds/green/step_duration
    chown system system /sys/class/leds/green/pause_lo_multi
    chown system system /sys/class/leds/green/pause_hi_multi
    chown system system /sys/class/leds/green/max_single_brightness
    chown system system /sys/class/leds/green/max_mix_brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/lut_pwm
    chown system system /sys/class/leds/blue/step_duration
    chown system system /sys/class/leds/blue/pause_lo_multi
    chown system system /sys/class/leds/blue/pause_hi_multi
    chown system system /sys/class/leds/blue/max_single_brightness
    chown system system /sys/class/leds/blue/max_mix_brightness

    # Display
    chown system system /sys/devices/dsi_panel_driver/area_count

    # DeviceMonitor UFSInfo
    chown system system /sys/kernel/debug/1d84000.ufshc/dump_device_desc
    chown system system /sys/bus/platform/drivers/ufshcd-qcom/1d84000.ufshc/health_descriptor/life_time_estimation_a
    chown system system /sys/bus/platform/drivers/ufshcd-qcom/1d84000.ufshc/health_descriptor/life_time_estimation_b

    # Sensor
    restorecon_recursive /mnt/vendor/persist/sensors
    chown system system /mnt/vendor/persist/sensors
    chown system system /mnt/vendor/persist/sensors/sns.reg
    chown system system /mnt/vendor/persist/sensors/sensors_list.txt
    chown system system /mnt/vendor/persist/sensors/registry
    chown system system /mnt/vendor/persist/sensors/registry/registry
    chown system system /mnt/vendor/persist/sensors/registry/registry/sensors_registry
    chown system system /mnt/vendor/persist/sensors/sensors_settings
    chown system system /mnt/vendor/persist/sensors/registry/sns_reg_config
    chown system system /mnt/vendor/persist/sensors/registry/sns_reg_version
    chown system system /mnt/vendor/persist/sensors/registry/config
    chmod 0664 /mnt/vendor/persist/sensors/sensors_settings
    exec - system system -- /vendor/bin/somc_reg_update

on boot
    chown system system /sys/devices/virtual/water_detection/wdet/wdet_polling_restart
    chmod 0660 /sys/devices/virtual/water_detection/wdet/wdet_polling_restart

# Camera
    write /dev/cpuset/camera-daemon/cpus 0-7

    # USB
    chown root system /config/usb_gadget/g1

on post-fs-data
# MPEG-H 3D audio
    mkdir /data/vendor/3dra 0775 audio audio

#DVS
    chown audioserver audio /sys/devices/platform/soc/c440000.qcom,spmi/spmi-0/spmi0-03/c440000.qcom,spmi:qcom,pm8150b@3:qcom,haptics@c000/activate
    chmod 0664 /sys/devices/platform/soc/c440000.qcom,spmi/spmi-0/spmi0-03/c440000.qcom,spmi:qcom,pm8150b@3:qcom,haptics@c000/activate

    # power_supply sysfs
    chmod 0664 /sys/class/power_supply/battery/charging_enabled
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_socmax
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_socmin
    chmod 0664 /sys/class/power_supply/battery/lrc_enable
    chmod 0664 /sys/class/power_supply/battery_ext/lrc_enable
    chmod 0664 /sys/class/power_supply/battery/system_temp_level
    chmod 0664 /sys/class/power_supply/battery/uevent
    chmod 0664 /sys/class/power_supply/battery/bootup_shutdown_phase
    chmod 0664 /sys/class/power_supply/battery/enable_shutdown_at_low_battery
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_icl
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_fcc
    chmod 0664 /sys/class/power_supply/battery_ext/chg_pwr_indication_control
    chmod 0664 /sys/class/power_supply/bms/charge_full
    chmod 0664 /sys/class/power_supply/bms/batt_aging_level
    chmod 0664 /sys/class/power_supply/dc/chg_pwr_dc_icl
    chmod 0664 /sys/class/power_supply/dc/uevent
    chmod 0664 /sys/class/power_supply/usb/uevent
    chmod 0664 /sys/class/power_supply/wireless/uevent
    chmod 0664 /sys/class/power_supply/wireless/wlc_vout_set

    # usbpd sysfs
    chmod 0664 /sys/class/usbpd/usbpd0/select_pdo
    chmod 0664 /sys/class/usbpd/usbpd0/uevent

    # The charge_service/chargemon use wakelock before on boot, so add permission here.
    chown radio wakelock /sys/power/wake_lock
    chown radio wakelock /sys/power/wake_unlock
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock

    write /sys/class/power_supply/battery/enable_shutdown_at_low_battery 1

    # charge_service
    
    start charge_service

    # backlight
    chown system system /sys/class/backlight/panel0-backlight/brightness

    # create directory for wfd
    mkdir /data/vendor/wfd 0770 system system

    # charge power service
    start chg-pwr-service

    # SONY: Camera
    chown cameraserver camera /dev/sony_camera0
    chmod 0770 /dev/sony_camera0
    chown cameraserver camera /dev/sony_camera1
    chmod 0770 /dev/sony_camera1
    chown cameraserver camera /dev/sony_camera2
    chmod 0770 /dev/sony_camera2
    chown cameraserver camera /dev/sony_camera3
    chmod 0770 /dev/sony_camera3
    chown cameraserver camera /dev/sony_camera4
    chmod 0770 /dev/sony_camera4
    mkdir /data/vendor/camera 0770 cameraserver camera

    # RGBC-IR sensor
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_Itime
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_all
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_auto_gain
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_blue
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_channel
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_clear
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_gain
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_green
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_persist
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_power_state
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_red
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_thres
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/als_thresh_deltaP
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/chip_id
    chown cameraserver camera /sys/devices/virtual/input/rgbcir_sensor/chip_pow

    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_Itime
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_auto_gain
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_channel
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_gain
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_persist
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_power_state
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_thres
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/als_thresh_deltaP
    chmod 666 /sys/devices/virtual/input/rgbcir_sensor/chip_pow

    restorecon /sys/devices/virtual/input/rgbcir_sensor/als_Itime
    restorecon /sys/devices/virtual/input/rgbcir_sensor/als_all
    restorecon /sys/devices/virtual/input/rgbcir_sensor/als_auto_gain
    restorecon /sys/devices/virtual/input/rgbcir_sensor/als_blue
    restorecon /sys/devices/virtual/input/rgbcir_sensor/als_channel
    restorecon /sys/devices/virtual/input/rgbcir_sensor/als_clear
    restorecon /sys/devices/virtual/input/rgbcir_sensor/als_gain
    restorecon /sys/devices/virtual/input/rgbcir_sensor/als_green
    restorecon /sys/devices/virtual/input/rgbcir_sensor/als_persist
    restorecon /sys/devices/virtual/input/rgbcir_sensor/als_power_state
    restorecon /sys/devices/virtual/input/rgbcir_sensor/als_red
    restorecon /sys/devices/virtual/input/rgbcir_sensor/als_thres
    restorecon /sys/devices/virtual/input/rgbcir_sensor/als_thresh_deltaP
    restorecon /sys/devices/virtual/input/rgbcir_sensor/chip_id
    restorecon /sys/devices/virtual/input/rgbcir_sensor/chip_pow
    restorecon /sys/devices/virtual/input/rgbcir_sensor/notify

    # Camera flash
    chown cameraserver camera /sys/class/leds/led:flash_0/brightness
    chown cameraserver camera /sys/class/leds/led:flash_1/brightness
    chown cameraserver camera /sys/class/leds/led:flash_0/max_brightness
    chown cameraserver camera /sys/class/leds/led:flash_1/max_brightness
    chown cameraserver camera /sys/class/leds/led:torch_0/brightness
    chown cameraserver camera /sys/class/leds/led:torch_1/brightness
    chown cameraserver camera /sys/class/leds/led:torch_0/max_brightness
    chown cameraserver camera /sys/class/leds/led:torch_1/max_brightness
    chown cameraserver camera /sys/class/leds/led:switch_0/brightness
    chown cameraserver camera /sys/devices/virtual/leds/flash_led/oneshot
    chmod 660 /sys/devices/virtual/leds/flash_led/oneshot
    restorecon /sys/devices/virtual/leds/flash_led/oneshot

    # Camera sync
    chown cameraserver camera /dev/camera_sync
    chmod 0770 /dev/camera_sync

    # Camera to enable system crash from DSP
    

    # WLAN
    # Set default Wi-Fi country code as "00". It can be overridden by customization.
    setprop ro.boot.wificountrycode 00

# chargemon
service chargemon /vendor/bin/chargemon
    user system
    group root system oem_2993 wakelock input
    capabilities SYS_BOOT
    disabled

# Charge service
service charge_service /vendor/bin/charge_service
    user system
    # Add oem_2993 to the group of charge_service for access MiscTA.
    # Add wakelock to the group of charge_service for access "/sys/power/wake_lock" and "/sys/power/wake_unlock".
    group system root oem_2993 wakelock
    writepid /dev/cpuset/system-background/tasks
    disabled

# chg-pwr-service
service chg-pwr-service /vendor/bin/chg-pwr-service
    user system
    # Add wakelock to the group of chg-pwr-service for access "/sys/power/wake_lock" and "/sys/power/wake_unlock".
    group system root wakelock
    writepid /dev/cpuset/system-background/tasks
    disabled

# Boot completed notification for ChargeService
on property:sys.boot_completed=1
    write /sys/class/power_supply/battery/bootup_shutdown_phase 3
    write /sys/class/power_supply/battery/uevent change

# Shutdown notification for ChargeService
on property:sys.shutdown.requested=*
    write /sys/class/power_supply/battery/bootup_shutdown_phase 4
    write /sys/class/power_supply/battery/uevent change

# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -p -B -z \
        -o /data/user_de/0/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 114 115 116

# Set value in property to sysfs for SmartCharge
on property:persist.vendor.battery.smt_chg=activate
    write /sys/class/power_supply/battery_ext/smart_charging_activation 1

on property:persist.vendor.battery.smt_chg=charging_suspend
    write /sys/class/power_supply/battery_ext/smart_charging_interruption 1

on property:persist.vendor.battery.smt_chg=charging_resume
    write /sys/class/power_supply/battery_ext/smart_charging_interruption 0

on boot
    write /proc/sys/vm/dirty_ratio 5
    write /proc/sys/vm/dirty_background_ratio 1

    # start fingerprint HAL service
    start ets_hal

on property:ro.boot.verifiedbootstate=orange
    setprop persist.sys.usb.config adb
