# Copyright 2020, 2021 Sony Corporation
#
# init.sony-platform.rc
#

on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules/ \
        bu520x1nvx

on init
    # SONY: Start the TrimArea Daemon. It must be started before fota-ua
    wait /dev/block/bootdevice/by-name/TA
    class_start trimarea
    exec u:r:tad:s0 system -- /vendor/bin/wait4tad

on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules/ \
        et603-int \
        last_logs \
        powerkey_forcecrash \

    

    # Change reset behavior to warm reset
    

    # Enable power key force crash on userdebug variant
    

    # unmount temporary oem mount point
    umount /mnt/oem

    # SONY: Enable wakeup irq module
    write /sys/devices/platform/wakeup_debug.0/enable 1

# SONY: TrimArea Daemon
# Last 2 args: start block(blk size 128k), number of blocks(partitionsize(kb)/128(kb))
service tad /vendor/bin/tad /dev/block/bootdevice/by-name/TA 0,16
    user oem_2997
    group oem_2997 root
    socket tad stream 0660 system oem_2993
    class trimarea
    seclabel u:r:tad:s0

on charger
    # Charger
    chmod 0664 /sys/class/battchg_ext/usb_input_suspend
    chmod 0664 /sys/class/battchg_ext/lrc_charge_disable
    chmod 0664 /sys/class/battchg_ext/lrc_input_suspend
    chmod 0664 /sys/class/battchg_ext/bootup_shutdown_phase
    chmod 0664 /sys/class/battchg_ext/batt_aging_level
    chmod 0664 /sys/class/battchg_ext/system_temp_level
    chmod 0664 /sys/class/battchg_ext/sdm_therm
    chmod 0664 /sys/class/battman_dbg/regupdate_interval
    chmod 0664 /sys/class/battman_dbg/log_interval
    chmod 0664 /sys/class/battman_dbg/log_categories
    chmod 0664 /sys/class/battman_dbg/log_level

    # backlight
    chown system system /sys/class/backlight/panel0-backlight/brightness

    # led RGB
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/blue/brightness

    # The charge_service/chargemon use wakelock before on boot, so add permission here.
    chown radio wakelock /sys/power/wake_lock
    chown radio wakelock /sys/power/wake_unlock
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock

    # charge_service
    
    start charge_service

    # Set USB mode to MSC for SDP charging
    setprop sys.usb.config mass_storage_charge

    # chargemon
    start chargemon

on post-fs
    # Display
    chown system system /sys/devices/dsi_panel_driver/flm2_mode
    chown system system /sys/devices/dsi_panel_driver/hbm_mode
    chown system system /sys/devices/dsi_panel_driver/area_count
    chown system system /sys/devices/dsi_panel_driver/somc_max_brightness
    chown system system /sys/devices/dsi_panel_driver/pre_sod_mode
    chown system system /sys/module/msm_drm/parameters/dp_validate_mode

    # Update dm-verity state and set partition.*.verified properties
    verity_update_state

    # Sensor
    chown system system /mnt/vendor/persist/sensors
    chown system system /mnt/vendor/persist/sensors/sns.reg
    chown system system /mnt/vendor/persist/sensors/sensors_list.txt
    chown system system /mnt/vendor/persist/sensors/registry
    chown system system /mnt/vendor/persist/sensors/registry/registry
    chown system system /mnt/vendor/persist/sensors/registry/registry/sensors_registry
    chown system system /mnt/vendor/persist/sensors/sensors_settings
    chown system system /mnt/vendor/persist/sensors/registry/sns_reg_config
    chown system system /mnt/vendor/persist/sensors/registry/sns_reg_version
    chown system system /mnt/vendor/persist/sensors/registry/config
    chmod 0664 /mnt/vendor/persist/sensors/sensors_settings
    exec - system system -- /vendor/bin/somc_reg_update

    # led RGB
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/sync_blink
    chown system system /sys/class/leds/red/max_single_brightness
    chown system system /sys/class/leds/red/max_mix_brightness
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/sync_blink
    chown system system /sys/class/leds/green/max_single_brightness
    chown system system /sys/class/leds/green/max_mix_brightness
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/sync_blink
    chown system system /sys/class/leds/blue/max_single_brightness
    chown system system /sys/class/leds/blue/max_mix_brightness

    # DeviceMonitor UFSInfo
    chown system system /sys/kernel/debug/1d84000.ufshc/dump_device_desc
    chown system system /sys/bus/platform/drivers/ufshcd-qcom/1d84000.ufshc/health_descriptor/life_time_estimation_a
    chown system system /sys/bus/platform/drivers/ufshcd-qcom/1d84000.ufshc/health_descriptor/life_time_estimation_b

on post-fs-data
   # MPEG-H 3D audio
   mkdir /data/vendor/3dra 0775 audio audio

    # Charger
    chmod 0664 /sys/class/power_supply/battery/uevent
    chmod 0664 /sys/class/power_supply/wireless/uevent
    chmod 0664 /sys/class/power_supply/usb/uevent

    # The charge_service use wakelock before on boot, so add permission here.
    chown radio wakelock /sys/power/wake_lock
    chown radio wakelock /sys/power/wake_unlock
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock

    # backlight
    chown system system /sys/class/backlight/panel0-backlight/brightness

    # create directory for wfd
    

    # Fingerprint EGIS
    mkdir /data/vendor/egis 0770 system system
    start ets_hal

    # Camera to enable system crash from DSP
    

on boot
    # Charger
    chmod 0664 /sys/class/battchg_ext/usb_input_suspend
    chmod 0664 /sys/class/battchg_ext/lrc_charge_disable
    chmod 0664 /sys/class/battchg_ext/lrc_input_suspend
    chmod 0664 /sys/class/battchg_ext/batt_aging_level
    chmod 0664 /sys/class/battchg_ext/system_temp_level
    chmod 0664 /sys/class/battchg_ext/sdm_therm
    chmod 0664 /sys/class/battman_dbg/regupdate_interval
    chmod 0664 /sys/class/battman_dbg/log_interval
    chmod 0664 /sys/class/battman_dbg/log_categories
    chmod 0664 /sys/class/battman_dbg/log_level
    chmod 0664 /sys/class/qcom-battery/wireless_boost_en
    chmod 0444 /sys/kernel/debug/battery_debug/votables/fv_tot/status
    chmod 0444 /sys/kernel/debug/battery_debug/votables/iusb0_tot/status
    chmod 0444 /sys/kernel/debug/battery_debug/votables/fcc_tot/status

    # charge_service
    
    start charge_service
    # USB
    chown root system /config/usb_gadget/g1

# chargemon
service chargemon /vendor/bin/chargemon
    user system
    group root system oem_2993 wakelock input
    capabilities SYS_BOOT
    disabled

# Charge service
service charge_service /vendor/bin/charge_service
    user system
    # Add oem_2993 to the group of charge_service for access MiscTA.
    # Add wakelock to the group of charge_service for access "/sys/power/wake_lock" and "/sys/power/wake_unlock".
    group system root oem_2993 wakelock
    writepid /dev/cpuset/system-background/tasks
    disabled

# Set value in property to sysfs for SmartCharge
on property:persist.vendor.battery.smt_chg=activate
    write /sys/class/battchg_ext/smart_charging_activation 1

on property:persist.vendor.battery.smt_chg=charging_suspend
    write /sys/class/battchg_ext/smart_charging_interruption 1

on property:persist.vendor.battery.smt_chg=charging_resume
    write /sys/class/battchg_ext/smart_charging_interruption 0

# Boot completed notification for ChargeService
on property:sys.boot_completed=1
    write /sys/class/battchg_ext/bootup_shutdown_phase 3
    write /sys/class/power_supply/battery/uevent change

# Shutdown notification for ChargeService
on property:sys.shutdown.requested=*
    write /sys/class/battchg_ext/bootup_shutdown_phase 4
    write /sys/class/power_supply/battery/uevent change

# bugreport is triggered by holding down volume down, volume up and power
service bugreport /system/bin/dumpstate -d -p -B -z \
        -o /data/user_de/0/com.android.shell/files/bugreports/bugreport
    class main
    disabled
    oneshot
    keycodes 114 115 116

on property:ro.boot.verifiedbootstate=orange
    setprop persist.sys.usb.config adb
