# Copyright (c) 2018 Sony Mobile Communications Inc.
#
# product common configuration
#
on early-init
    exec u:r:vendor_modprobe:s0 -- /vendor/bin/modprobe -a -d /vendor/lib/modules/ \
        nxp_pn553_nfc
on boot
    # NFC local data and storage
    mkdir /data/vendor/nfc 0770 nfc nfc
    mkdir /data/vendor/nfc/param 0770 nfc nfc
