on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on init
    setprop sys.usb.configfs 1

on boot
    chmod 0777 /sbin/enable_touchscreen.sh
    start enable_touchscreen
    write /sys/devices/virtual/sec/tsp/after_work 1

service enable_touchscreen /sbin/enable_touchscreen.sh
    user root
    group root
    disabled
    oneshot
    seclabel u:r:recovery:s0
