on early-boot
    # Notification LED
    chown system system /sys/class/leds/red/breath
    chown system system /sys/class/leds/red/brightness
    chown system system /sys/class/leds/red/lut_pwm
    chown system system /sys/class/leds/red/pause_hi_multi
    chown system system /sys/class/leds/red/pause_lo_multi
    chown system system /sys/class/leds/red/step_duration

    chown system system /sys/class/leds/green/breath
    chown system system /sys/class/leds/green/brightness
    chown system system /sys/class/leds/green/lut_pwm
    chown system system /sys/class/leds/green/pause_hi_multi
    chown system system /sys/class/leds/green/pause_lo_multi
    chown system system /sys/class/leds/green/step_duration

    chown system system /sys/class/leds/blue/breath
    chown system system /sys/class/leds/blue/brightness
    chown system system /sys/class/leds/blue/lut_pwm
    chown system system /sys/class/leds/blue/pause_hi_multi
    chown system system /sys/class/leds/blue/pause_lo_multi
    chown system system /sys/class/leds/blue/step_duration

service vendor.light /vendor/bin/hw/android.hardware.lights-service.sony_edo
    class hal
    user system
    group system
    shutdown critical

